@@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"),
       url("../fonts/ptsans.woff2") format("woff2");
  font-weight: **400**;
  font-style: normal;
}

@@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
       url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: **700**;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page .container {
  background-color: #ffffff;
  z-index: 0;
}
/* Навигация */
.navigation {
  background-color: #ffffff;
}

.header-logo{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  list-style: none;
  justify-content: space-between;
  margin: 0;
  display: flex;
  padding: 0;
}

.nav-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:nth-child(2) {
  margin-right: 20%;
}

.nav-item:nth-child(1),
.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:nth-child(3),
.nav-item:nth-child(4) {
  text-align: right;
}

.nav-link {
  display: block;
  font-family: inherit;
  font-weight: 700;
  color: #000000;
  padding: 16px 0 19px;
}

.nav-link:hover,
.nav-link:focus {
  color: #81b3d2;
}

.nav-link:active {
  color: #cacaca;
}

.nav-current {
  color: #766357;
}

/* Главная страница */
.intro {
  background:
    url("../img/polygon.svg") bottom center no-repeat,
    url("../img/background-photo.jpg") 50% 30% no-repeat;
  background-color: #F2F2F2;
  text-align: center;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 59px;
}

.promo {
  background-color: #ffffff;
}

.promo-title {
  font-weight: 700px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  width: 576px;
  margin: 0 auto 27px auto;
}

.promo-desc {
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.reasons-list,
.features-list {
  list-style: none;
}

.reason-item,
.feature-item {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.reason-spec {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  width: 400px;
  padding: 48px 43px 50px 43px;
}

.reason-title {
  width: 150px;
  margin: 0 auto 23px auto;
}

.reason-title,
.feature-title {
  font-size: 21px;
}

.reason-number {
}

.reason-desc {
  margin: 21px auto 0 auto;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 162px 48px 81px 50px;
}

.feature-item {
  width: 300px;
  justify-content: center;
}

.feature-title {
  margin: 0 auto 24px;
}

.feature-desc {
  margin: 0 auto;
}

.reason-item-bottom {
  background-color: #eeeeee;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  width: 300px;
}

.search-hotels {
  text-align: center;
  /* background-color: #ffffff; */
  position: relative;
}

.search-hotels-container {
  width: 568px;
  margin: 0 auto 78px auto;
  padding-top: 62px;
}

.search-hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotels-desc {
  line-height: 24px;
  margin: 25px auto 45px auto;
}

.search-hotels-btn {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
  width: 100%;
  padding: 30px 0 30px 0;
}

.search-hotels-btn:focus,
.search-hotels-btn:hover {
  background-color: #604e43;
}

.search-hotels-btn:active {
  background-color: #503e33;
  color: #928a85;
}

.search-hotels-form{
  width: auto;
  padding: 55px;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.arrival-date,
.departure-date {
  margin: 0 auto 30px;
}

.label-form,
.input-number,
.input-date {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.input-date {
  width: 346px;
  height: 38px;
  padding: 6px 0 6px 13px;
  margin-left: 15px;
}

.input-date,
.input-number{
  background-color: #f2f2f2;
  border: none;
}

.number-peoples {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}

.number-peoples-abults,
.number-peoples-children {
  display: flex;
  align-items: center;
}

.number-peoples-abults .label-form {
  margin-right: 40px;
}

.number-peoples-children .label-form {
  margin-right: 28px;
}

.input-number,
.button-reduce,
.button-increase {
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.input-number,
.button-reduce,
.button-increase{
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
}

.input-number:hover,
.input-date:hover {
  background-color: #ebebeb;
}

.input-number:focus,
.input-date:focus{
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-reduce,
.button-increase{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.button-search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  padding: 16px 0;
}

.button-search:focus,
.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: #81aecb;
}

.map {
  position: absolute;
  z-index: 1;
  bottom: -203px;

}

/*  Футер */
.footer {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 100px 36px 130px;
  position: relative;
  z-index: 2;
}

.footer-hashtag {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
}

.social-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
   height: 48px; /*Пока не будет картинок */
}

.footer-copyright {
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin: 0;
}

/* Страница с гостиницами */
.filter-form {
  background: url("../img/filter-background.jpg") right center no-repeat;
  background-color: #F2F2F2;
  text-align: left;
  display: flex;
  padding: 28px 72px 6px 72px;
}

.infrastructure-form {
  width: 255px;
}

.infrastructure-form,
.type-form,
.cost-form {
  border: none;
  padding: 0px;
  margin: 0px;
}

.title-fieldset {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #ffffff;
}

.infrastructure-form-list,
.type-form-list {
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
}

.infrastructure-form-item,
.type-form-item {
  margin-bottom: 25px;
}

.checkbox-label {
  color: #ffffff;
}

.type-form {
  width: 485px;
}

.cost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temporal-div{  /* Временный блок пока нет ползунка */
  width: 318px;
  height: 70px;
  margin-top: 10px;
}

.button-show {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #fffff;
  background: none;
  padding: 6px 34px;
  margin: 20px 10px 0 0;
}

.sort-search {
  display: flex;
  align-items: center;
  padding: 26px 72px 23px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sort-search-desc {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 145px;
  text-align: left;
  margin-right: 19px;
}

.sort-search-title {
  margin-right: 40px;
}

.sort-search-title,
.sort-search-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-search-list,
.sort-search-increase-or-descending,
.hotels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sort-search-item {
  margin-right: 33px;
}

.sort-search-link {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-search-link:focus,
.sort-search-link:hover {
  color: #81b3d2;
}

.sort-search-link:active {
  color: #000000;
  border: none;
}

.sort-search-link.current {
  border: none;
  color: #81b3d2;
}

.sort-search-increase-or-descending {
 display: flex;
 flex-grow: 1;
 justify-content: flex-end;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-list-item {
  display: flex;
  padding: 30px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 29px;
  margin-top: -3px;
  width: 780px;
  align-items: flex-start;
}

.hotels-item-title {
  margin: 0;
}

.hotels-item-title a{
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotels-item-title a:hover,
.hotels-item-title a:focus {
  color: #81b3d2;
}

.hotels-item-title a:active {
  color: #cacaca;
}

.hotels-item-price {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.hotels-item-excerpt {
  display: flex;
  justify-content: space-between;
  width: 257px;
  margin-top: 10px;
}

.excerpt,
.reservation {
  font-weight: 700;
  color: #ffffff;
  padding: 3px 16px;
}

.excerpt {
  background-color: #81b3d2;
}

.excerpt:hover,
.excerpt:focus {
  background-color: #669ec0;
}

.excerpt:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.reservation {
  background-color: #766357;
}

.reservation:hover,
.reservation:focus {
  background-color: #604e43;
}

.reservation:active {
  background-color: #503e33;
  color: #928a85;
}

.hotels-item-raiting {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0 2px 0;
}

.raiting-stars-list {
  display: flex;
}

.raiting-desc {
  color: #666666;
  background-color: #f2f2f2;
  width: 100%;
  padding: 2px 0 2px 15px;
  text-align: left;
}
